h1{
    display: inline-block;
  padding: 8px 12px;
  margin: 6px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: rgb(230, 216, 216);
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}
#purple{
  background-color: purple;
}
#gray{
  background-color: gray;
}
#black{
  background-color: black;
  color: white;
}
#green{
  background-color: green;
}
#blue{
  background-color: blue;
}

div{
  text-align: center;
  margin: 12px 0px;
  padding-top: 200px;
}